/* src/styles/app.css */
body {
  font-family: 'Arial', sans-serif;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
}

.notification {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background: var(--primary-dark);
  color: var(--primary-content);
  padding: 1rem;
  border-radius: 0.5rem;
  z-index: 3;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--foreground);
  padding: 1rem;
  border-radius: 0.5rem;
  z-index: 3;
}
